netlify/rust-rewriter/target/*.*
netlify/rust-rewriter/target/debug
netlify/rust-rewriter/target/wasm32-wasi/*.*
netlify/rust-rewriter/target/wasm32-wasi/debug/*
!netlify/rust-rewriter/target/wasm32-wasi/debug/rust_rewriter.wasm
